doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true

        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

        controller_resolver:
            auto_mapping: false

        # ----------------------------------------------
        #  Activation du cache Doctrine via Redis (DEV)
        # ----------------------------------------------
        metadata_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool

        query_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool

        result_cache_driver:
            type: pool
            pool: doctrine.result_cache_pool


# ----------------------------------------------
#  Configuration TEST
# ----------------------------------------------
when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'


# ----------------------------------------------
#  Configuration PROD (optimisée)
# ----------------------------------------------
when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.system_cache_pool:
                    adapter: cache.adapter.redis
                    provider: 'redis://127.0.0.1:6379'

                doctrine.result_cache_pool:
                    adapter: cache.adapter.redis
                    provider: 'redis://127.0.0.1:6379'


# ----------------------------------------------
#  Configuration DEV du cache Redis
# (nécessaire car sinon fallback → REDIS !)
# ----------------------------------------------
framework:
    cache:
        pools:
            doctrine.system_cache_pool:
                adapter: cache.adapter.redis
                provider: 'redis://127.0.0.1:6379'

            doctrine.result_cache_pool:
                adapter: cache.adapter.redis
                provider: 'redis://127.0.0.1:6379'
